[Unit]
Description=Proxette service
After=network.target

[Service]
User=proxette
WorkingDirectory=/opt/proxette
ExecStart=/opt/proxette/bin/proxette
Restart=on-failure

[Install]
WantedBy=multi-user.target
